/* 
.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flexItem {
  flex: 1 0 15;
  flex-basis: 15rem;
  margin: 10px;
  padding: 20px;
  border: 1px solid rgb(89, 192, 156);
  border-radius: 10px;
  background-color: rgb(192, 240, 237);
  text-align: left;
} */


